@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Winners>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using MyWebsite.User;

@{
	Layout = "Master.cshtml";
}

@{

  var data = await RandomUser.GetResultsAsync();
}


<div>

  @if (data == null)
  {
    <div />

  }
  else
  {
    @foreach (var result in data.results)
    {


  <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" data-bs-hover-animate="pulse" src="@result.picture.large">
                        <h3 class="name">@result.name.first/@result.name.last</h3>
                        <p class="title">@result.location.city/@result.location.country </p>
                        <p class="description"><br>
                           @result.email  
                           <br><br></p>
                      </div>
                </div>

                  }


  }
  
  
   @await Html.PartialAsync("Users")
   
   
 